.lmj-banner {
    color: black;
    background-color: seagreen;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: space-between; /* Aligne le titre à gauche et le panier à droite */
    align-items: center;
    position: sticky;
    padding-left: 3%;
    padding-right: 3%;
    top: 0;
    z-index: 1000;
    border-radius: 0 0 10px 10px;

}

.lmj-logo {
    height: 45px;
    width: 45px;
	margin-right: 2%;
}

.lmj-banner-title {
    flex: 1;
    text-align: left;
}

.lmj-banner-cart {
    flex: 0;
	text-align: right;
}

.lmj-banner-left {
    display: flex;
    align-items: center;
}