.lmj-categories {
	text-align: center;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
}

.categories-container {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.categories-container p {
    margin: 0 0 10px;
    font-weight: bold;
}

.categories-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reset-button {
    padding: 8px 16px;
    background-color: #31b572;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #208653;
}